
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    animation: moveLeft 10s infinite;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 140px;
}

.menu li {
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar-toggle {
    display: none;
    cursor: pointer;
}

.sidebar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.content {
    padding: 20px;
    margin-top: 50px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .sidebar {
        left: -100%;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar-toggle {
        display: block;
    }
}

/* Keyframe animation for moving logo */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.slideshow-container {
    transition-duration: 5s;
}

